<div class="header-search">
  <h1>Hangry Solution</h1>
  <app-recipe-search></app-recipe-search>
</div>
<div class="content">
  <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  <div class="content__cards" *ngIf="(isLoading$ | async) === false">
    <app-no-results [isLoaded$]="isLoaded$" [searchResults$]="searchResults$"></app-no-results>
    <div *ngFor="let result of searchResults$ | async">
      <app-recipe-card
        [name]="result.strMeal"
        [image]="result.strMealThumb"
        [id]="result.idMeal">
      </app-recipe-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
